# PR Validation build.

name: '$(Year:yyyy).$(Month).0.$(BuildID)-pr'

# Notes: Only trigger a PR build for main and release, and skip build/rebuild
#        on changes in the news and .vscode folders.
pr:
  autoCancel: true
  branches:
    include: ['main', 'release/*']
  paths:
    exclude: ['/.vscode']

# Not the CI build for merges to main and release.
trigger: none

steps:
	- task: NodeTool@0
  	inputs:
    	versionSpec: '14.16.0'
  	displayName: 'Install Node.js'

  - task: Npm@1
    displayName: 'Use NPM 6.13.4'
    inputs:
      command: custom
      verbose: true
      customCommand: 'install -g npm@6.13.4'

	- task: Bash@3
		displayName: Update .npmrc file
		inputs:
			targetType: 'inline'
			script: |
				echo 'registry=https://pkgs.dev.azure.com/msresearch/_packaging/MSR-Python-Analysis/npm/registry/.' > .npmrc
				echo 'always-auth=true' >> .npmrc
				echo '' >> .npmrc
				echo '; begin auth token' >> .npmrc
				echo '//pkgs.dev.azure.com/msresearch/_packaging/MSR-Python-Analysis/npm/registry/:username=msresearch' >> .npmrc
				echo '//pkgs.dev.azure.com/msresearch/_packaging/MSR-Python-Analysis/npm/registry/:_password=$(NPM_TOKEN_BASE64_FOR_GATHER)' >> .npmrc
				echo '//pkgs.dev.azure.com/msresearch/_packaging/MSR-Python-Analysis/npm/registry/:email=npm requires email to be set but doesnt use the value' >> .npmrc
				echo '//pkgs.dev.azure.com/msresearch/_packaging/MSR-Python-Analysis/npm/:username=msresearch' >> .npmrc
				echo '//pkgs.dev.azure.com/msresearch/_packaging/MSR-Python-Analysis/npm/:_password=$(NPM_TOKEN_BASE64_FOR_GATHER)' >> .npmrc
				echo '//pkgs.dev.azure.com/msresearch/_packaging/MSR-Python-Analysis/npm/:email=npm requires email to be set but doesnt use the value' >> .npmrc
				echo '; end auth token' >> .npmrc
				echo '' >> .npmrc

	- script: npm ci
		displayName: Install dependencies

	- script: npm run build
		displayName: Build
